html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white; }

#header {
  background: black;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #af1e2d;
  font-size: 1.5em;
  display: table; }
  #header .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #header .content {
    background: rgba(0, 0, 0, 0.8);
    width: 100%; }
  #header h1 {
    font-family: bodoni, serif; }

#links ul {
  width: 100%;
  padding: 0; }
#links li {
  list-style: none;
  display: inline;
  padding: 0 10px;
  width: 25%; }
#links a {
  text-decoration: none;
  color: #e06666; }
#links a:hover {
  color: white; }

#description {
  color: white; }

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.8em;
  color: white;
  background: rgba(0, 0, 0, 0.8); }
