@font-face {
  font-family: 'Computer Modern Sans';
  src: url("../fonts/cmunss.eot");
  src: url("../fonts/cmunss.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunss.woff") format("woff"), url("../fonts/cmunss.ttf") format("truetype"), url("../fonts/cmunss.svg#cmunss") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Sans';
  src: url("../fonts/cmunsx.eot");
  src: url("../fonts/cmunsx.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunsx.woff") format("woff"), url("../fonts/cmunsx.ttf") format("truetype"), url("../fonts/cmunsx.svg#cmunsx") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Sans';
  src: url("../fonts/cmunsi.eot");
  src: url("../fonts/cmunsi.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunsi.woff") format("woff"), url("../fonts/cmunsi.ttf") format("truetype"), url("../fonts/cmunsi.svg#cmunsi") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Computer Modern Sans';
  src: url("../fonts/cmunso.eot");
  src: url("../fonts/cmunso.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunso.woff") format("woff"), url("../fonts/cmunso.ttf") format("truetype"), url("../fonts/cmunso.svg#cmunso") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Computer Modern Concrete';
  src: url("../fonts/cmunorm.eot");
  src: url("../fonts/cmunorm.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunorm.woff") format("woff"), url("../fonts/cmunorm.ttf") format("truetype"), url("../fonts/cmunorm.svg#cmunorm") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Concrete';
  src: url("../fonts/cmunobx.eot");
  src: url("../fonts/cmunobx.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunobx.woff") format("woff"), url("../fonts/cmunobx.ttf") format("truetype"), url("../fonts/cmunobx.svg#cmunobx") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Concrete';
  src: url("../fonts/cmunoti.eot");
  src: url("../fonts/cmunoti.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunoti.woff") format("woff"), url("../fonts/cmunoti.ttf") format("truetype"), url("../fonts/cmunoti.svg#cmunoti") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Computer Modern Concrete';
  src: url("../fonts/cmunobi.eot");
  src: url("../fonts/cmunobi.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunobi.woff") format("woff"), url("../fonts/cmunobi.ttf") format("truetype"), url("../fonts/cmunobi.svg#cmunobi") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Computer Modern Bright';
  src: url("../fonts/cmunbmr.eot");
  src: url("../fonts/cmunbmr.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunbmr.woff") format("woff"), url("../fonts/cmunbmr.ttf") format("truetype"), url("../fonts/cmunbmr.svg#cmunbmr") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Bright';
  src: url("../fonts/cmunbbx.eot");
  src: url("../fonts/cmunbbx.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunbbx.woff") format("woff"), url("../fonts/cmunbbx.ttf") format("truetype"), url("../fonts/cmunbbx.svg#cmunbbx") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Bright';
  src: url("../fonts/cmunbmo.eot");
  src: url("../fonts/cmunbmo.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunbmo.woff") format("woff"), url("../fonts/cmunbmo.ttf") format("truetype"), url("../fonts/cmunbmo.svg#cmunbmo") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Computer Modern Bright';
  src: url("../fonts/cmunbxo.eot");
  src: url("../fonts/cmunbxo.eot?#iefix") format("embedded-opentype"), url("../fonts/cmunbxo.woff") format("woff"), url("../fonts/cmunbxo.ttf") format("truetype"), url("../fonts/cmunbxo.svg#cmunbxo") format("svg");
  font-weight: bold;
  font-style: italic; }

html {
  background: url(../imgs/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Computer Modern Bright', sans; }

#container {
  background: rgba(1, 0, 0, 0.7);
  color: ghostwhite;
  width: 980px;
  margin: 120px auto 10px auto; }

.clear {
  clear: both; }

#header h1 {
  font-style: bold;
  font-size: 42px;
  color: #8e7cc3;
  margin: 0; }

#description {
  font-size: 28px; }

a {
  color: #ffac00;
  text-decoration: none; }
  a i {
    color: ghostwhite; }

#links ul {
  padding: 0;
  width: 100%; }
#links li {
  list-style: none;
  float: left;
  width: 25%;
  font-size: 1.5em; }

#sidebar {
  width: 30%;
  float: left;
  text-align: left; }
  #sidebar ul li a {
    color: #8e7cc3; }
  #sidebar ul li ul li a {
    color: #ffac00; }

#content {
  width: 70%;
  float: left; }

.info_section {
  text-align: left; }
  .info_section h2 {
    text-align: center;
    color: #8e7cc3;
    margin: 10px 0; }
  .info_section p {
    margin: 10px 0; }

footer {
  background: rgba(1, 0, 0, 0.7);
  color: ghostwhite;
  width: 980px;
  margin: 0 auto;
  font-size: 0.8em; }

@media (max-width: 980px) {
  #container, footer {
    width: 100%; } }
@media (max-width: 700px) {
  #links li {
    width: 50%; }

  #content {
    width: 100%; }

  #sidebar {
    display: none; } }
