html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white; }

#header {
  background: url(../imgs/bg.jpg) fixed no-repeat center center;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #af1e2d;
  font-size: 1.5em;
  display: table; }
  #header .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #header .content {
    background: rgba(0, 0, 0, 0.8);
    width: 100%; }
  #header h1 {
    font-family: bodoni, serif; }

#links ul {
  width: 100%;
  padding: 0; }
#links li {
  list-style: none;
  display: inline;
  padding: 0 10px;
  width: 25%; }
#links a {
  text-decoration: none;
  color: #e06666; }
#links a:hover {
  color: white; }

#description {
  color: white; }

.info-section {
  text-align: center; }
  .info-section ul, .info-section p {
    margin: 0 auto; }
  .info-section h2 {
    padding: 10px;
    color: white;
    background: #af1e2d; }
  .info-section h3 {
    color: #af1e2d; }
  .info-section ul {
    padding: 0;
    list-style: none; }
  .info-section li {
    clear: both; }
  .info-section a {
    color: #af1e2d;
    text-decoration: none; }
  .info-section a:hover {
    color: #af1e2d; }
  .info-section img {
    float: right;
    width: 300px;
    margin-left: 1em; }

.info-section-content {
  width: 980px; }

@media (max-width: 980px) {
  .info-section-content {
    text-align: center;
    width: 100%; }

  .info-section-content img {
    float: none;
    margin: 0 auto; } }
footer {
  text-align: center;
  font-size: 0.8em;
  color: white;
  background: #af1e2d; }
