// colors
$blue: rgb(111, 168, 220);
$green: rgb(147, 195, 125);
$cmu-red: rgb(175, 30, 45);
$red: rgb(224, 102, 102); 
$bg: white;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: white;
}

//===============================
// HEADER
//===============================

#header {
    //background: url(../imgs/bg.jpg) fixed no-repeat center center;
    background: black;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
    color: $cmu-red;
    font-size: 1.5em;
    display: table;
    .container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    .content {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
    }
    
    h1 {
        font-family: bodoni, serif;
    }
}

#links {
    ul {
        width: 100%;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline;
        padding: 0 10px;
        width: 25%;
    }

    a {
        text-decoration: none;
        color: $red;
    }
    
    a:hover {
        color: white;
    }
}

#description {
    color: white;
}

//===============================
// Footer
//===============================
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.8em;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}
