doctype html
html
    head
        meta(charset="utf-8")
        title Oscar Bezi
        meta(name="description" content="The personal website of Oscar Bezi.")
        meta(name="author" content="Oscar Bezi, oscar@bezi.io")
        meta(name="viewport" content="initial-scale=1,width=device-width")
        meta(name='mobile-web-app-capable', content='yes')
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/main.css" rel="stylesheet")
        link(rel="icon" sizes="196x196" href="imgs/favicon.ico")

    body
        #header
            .container
                .content
                    h1 Oscar Bezi
                    #description
                        | Computer scientist and engineer at Carnegie Mellon University.  
                        br
                        | Weirdly obsessed with robots, hackathons, space, and boats.
                    #links
                        ul
                            li
                                a#email(href="mailto:oscar.bezi@gmail.com") 
                                    |  Email
                            li
                                a#github(href="https://github.com/bezi")
                                    |  Github
                            li
                                a#resume(href="resume.pdf")
                                    |  Resume

        footer &copy; Oscar Bezi 2013-2014.
